"appbuild"
{
    "appid" "{{APP_ID}}"
    "desc" "Stellar Legacy {{VERSION}} {{BUILD_LABEL}}"
    "buildoutput" "{{BUILD_OUTPUT}}"
    "contentroot" "{{CONTENT_ROOT}}"
    "setlive" ""
    "preview" "1"
    "depots"
    {
        "{{DEPOT_ID}}" "depot_build.vdf"
    }
}
